.red {
  background: red;
}

.blue {
  background: blue;
}

body {
  overflow-x: hidden;
}

section {
  padding: 60px 0;
}

#hero {
  position: relative;
  z-index: -2;
  padding: 450px 0;
  background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d5e63+42,393f4d+100 */background: #5d5e63;
 /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #5d5e63 42%, #393f4d 100%);
 /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #5d5e63 42%,#393f4d 100%);
 /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #5d5e63 42%,#393f4d 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d5e63', endColorstr='#393f4d',GradientType=1 );
 /* IE6-9 fallback on horizontal gradient */
}
#legend {
  background: #1a1b1f;
  padding: 190px 0 160px 0;
  background: #1a1b1f;
  z-index: -10;
  position: relative;
}
#gallery {
  background: #fee372;
  padding-bottom: 300px;
  position: relative;
}

#gallery a {
  background: black;
  color: white;
}
#gallery h2  {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: -5px;
}

.relative {
  position: relative;
}
.funny-rectangle-box {
  position: absolute;
  top:-50px;
  right:0;
  left:0;
  bottom:0;
  margin: 0 auto;
  border: 3px solid #feda6a;
  height: 120px;
  width: 70px;
}
.funny-rectangle-box i{
  font-size: 10px;
  color: rgba(0, 0, 0, 0.25);
}
.funny-rectangle-box i:first-child {
  position: absolute;
  bottom: 15px;
  right:0;
  left:0;
}
.funny-rectangle-box i:nth-child(2) {
  position: absolute;
  bottom: 20px;
  right: 0;
  left:0;
}



#hero h1 {
  font-family: 'Playfair Display', serif;
  color: white;
  text-align: center;
  font-size: 170px;
  font-weight: bold;
  position: absolute;
  top: 15%;
  right: 0;
  left: 0;
  opacity: .75;
}
#legend h1 {
  font-family: 'Playfair Display', serif;
  color: white;
  text-align: left;
  font-size: 70px;
}

a.cta-btn {
  text-transform: uppercase;
  font-size: 10px;
  text-decoration: none;
  padding: 20px 30px;

-webkit-transition: 1s;
  transition: 1s;
}
a.cta-btn:hover {
  background: black;
  color:white;
}

.fa-twitter {
  font-size: 180px;
  opacity: .05;
  position: absolute;
  left:0;
  margin-left: 20px;
  bottom:0;
}

.accessories-bk-content {
  position: absolute;
  bottom: -100px;
  font-size: 250px;
  right: 0;
  letter-spacing: 0px;
  left:0;
  text-align: center;
  color: rgba(255, 255, 255, 0.08);
  /*color: #fee070;*/
  margin: 0 auto;
  font-family: 'Playfair Display', serif;
}

#legend a.cta-btn {
  width: 200px;
  float: right;
  margin-right: 120px;
  margin-top: 40px;
  text-align: center;
  background: white;
  color: black;
  font-weight: bold;


}
#legend img:nth-child(2) {
  display: block;
  width: 760px;
  position: absolute;
  top:0;
  left:-160px;
  z-index: -1;
}
#legend img:first-child {
  width: 100%;
}

.left-divider {
  background: rgba(0, 0, 0, 0.5);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: -1;
}

.right-divider {
  background: rgba(0, 0, 0, 0.45);
  -webkit-filter: grayscale(10);
  filter: grayscale(10);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: -1;
}

#hero h1{
-webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}



.zero, .one {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 300px;
  margin-top: 50px;
}

.right-divider .one {
  opacity: .025;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  margin-left: 30px;
}

.left-divider .zero {
  opacity: .025;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  color: white;
  margin-right: 30px;
}

.motorcycle {
  position: absolute;
  max-width: 900px;
  margin: 0 auto;
  right: 0;
  left: 0;
  bottom: 200px;
}
.motorcycle.anim {
-webkit-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;
}

i.ion-navicon {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  margin-top: 30px;
  opacity: .4;
}

.hero-buttons-holder{
  position: absolute;
  bottom:0;
  right: 0;
  left:0;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: block;
  z-index: 9000;
  margin-bottom: -30px;
}


.hero-buttons-holder.anim {
-webkit-animation: fadeInUp 2s;
  animation: fadeInUp 2s;
}

.hero-buttons-holder a {
  width: 50%;
  padding: 20px 30px;
  display: inline-block;
  float: left;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  background: #393f4d;
  color: white;
  font-weight: 500;
}
.hero-buttons-holder a:first-child{
  background: #feda6a;
  color: black;
}

.tweet-holder {
  background: white;
  width: 290px;
  margin: 0 auto;
  padding-bottom: 20px;
  position: relative;
  box-shadow: 25px -20px 0 #eecd63;
}

.tweet-holder blockquote {
  width:95%;
  font-weight: 200;
  margin: 0 auto;
  margin-top: 15px!important;
  opacity: .8;
  text-align: left;
  border-left: 0;
}
.tweet-holder h4 {
  text-align: right;
  margin-top: 10px;
  padding-right: 30px;
}

.quote-holder {
  position: relative;
}

.quote-holder img {
  width: 120px;
}

.quote-holder blockquote{
  color: white;
  border-left: 0;
  text-align: center;
  margin: 0 auto;
  width: 70%;
  opacity: .6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-top: 140px;
}


.quote-left, .quote-right {
  background-repeat: no-repeat!important;
  width: 120px;
  height: 120px;
  margin-top: -80px;
  position: absolute;
  opacity: .05;
}

.quote-right {
  background: url("../img/quo-2.png");

  position: absolute;
  right: 13%;

}
.quote-left {
  background: url("../img/quo-1.png");

  left: 13%;
  right: 0;
}


.funny-box {
  position: absolute;
  left: 0;
  margin-left: 70px;
  margin-top: -40px;
  top: 0;
  height: 520px;
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}


#video-section {
  margin-top: 0;
  padding-top: 0;
  margin: 0 auto!important;
  font-size: 0;
  /*background: #fee372;*/
}



/*.img-holder img:hover {
-webkit-transform: scale(1.2);
  transform: scale(1.2);

  z-index: 9000000!important;
  border: 20px solid #fee372;
}*/

#video-section .img-holder img {
  width: 350px;
  display: inline-block;
  margin: 0;
  padding:0;
  height: 300px;
  z-index: -100!important;
-webkit-transition: .5s;
  transition: .5s;
}

#video-section .img-holder {
  position: relative;
  display: inline-block;
}

.img-holder img {
  top: 0;
  right: 0;
  left: 0;
  bottom:0;
}
.motorcycleCarousel div img {
    width: 100%;
}

.motorcycleCarousel div .slick-current img {
  border: 20px solid #feda6a;
}

.slick-current {
  -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 9000000!important;

}




div.slick-list.draggable {
  height: 500px;
  padding-top: 130px !important;
  padding-bottom: 500px !important;
  margin-top: -155px;
  background: transparent!important;
}

.all-accessory-holder {
  margin-top: 80px;
}

.accessory-holder {
  display: block;
  position: relative;
  background: #feda6a;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.125);
  width: 75%;
  height: 350px;
  margin: 0 auto;
}

.accessory-holder h4 {
  position: absolute;
  font-size: 12px;
  bottom: 30px;
  text-transform: uppercase;
  right:0;
  left:0;
  text-align: center;
}

.accessory-holder img {
  width: 140%;
  max-width: 230px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
